
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.layered {
    display: grid;
  }
  
  .layered > * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
  /* or for inline elements */
  .inline-layered {
    display: inline-grid;
  }
  
  .inline-layered > * {
    grid-column-start: 1;
    grid-row-start: 1;
  }